@import './base.css';
@import "tailwindcss";
@import "tailwindcss-primeui";
@tailwind base;
@tailwind components;
@tailwind utilities;




#app {
  margin: 0 auto;
  font-weight: normal;
}

.wrapper {
	max-width: 900px;
	width: 92%;
	margin: 0 auto;
}

.main-sub-heading {
  font-size: 16px;
  font-weight: 600;
  text-align: left;

}

.toggle-container {
  width: 100%;
  padding: 6px;
  background: #231F20;
  border-radius: 16px;
  display: flex;
  gap: 16px;
}

.matches-btn {
  cursor: pointer;
  width: calc((100% - 32px) / 3);
  padding: 16px 8px;
  border-radius: 12px;
  font-weight: 600;
}

main {
  padding-top: 110px;
}


@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }
}

body {
  font-family: "Montserrat", sans-serif;
}

h1, h2, h3, h4, h5, h6, p, a {
  font-family: "Montserrat", sans-serif;
}
