@import './base.css';
@import "tailwindcss";
@import "tailwindcss-primeui";
@tailwind base;
@tailwind components;
@tailwind utilities;




#app {
  max-width: 1280px;
  margin: 0 auto;
  font-weight: normal;
}

.wrapper {
	max-width: 1200px;
	width: 92%;
	margin: 0 auto;
}


@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }

  #app {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0 2rem;
  }
}

body {
  font-family: "Montserrat", sans-serif;
}

h1, h2, h3, h4, h5, h6, p, a {
  font-family: "Montserrat", sans-serif;
}
